@media screen and (max-width:1200px){
    .navigation{
        flex-direction: column;
        margin-bottom: 23px;
    }

    .nav-left{
        flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
    }

    #iblog{
    margin-left: 205px;
    margin-bottom: 20px;
    }

    .content{
        height: auto;
    }

    .content-right img {
        height: 355px;
        display: none;
        border: 2px solid black;
        border-radius: 50%;
    } 

    .content-left{
        width: 765px;
    font-size: 16px;
    }

    .hr{
        width: 75vw;
    }

    .year-box{
        top: 26px;
        left: 60vw;
    font-size: 13px;
        display: flex;
    }

    .year-box div{
        margin: 0;
        padding: 0;
        margin-left: 10px;
    }

    .home-article{
        flex-direction: column;
    }

    .home-article img{
        margin: auto;
    }

    .home-article-content {
        align-self: center;
        line-height: 30px;
        padding: 25px;
        text-align: center;
        align-items: flex-start;
        /* margin-left: -62px; */

    }

    .home-article img {
        width: 40vw;
    }    

    .form-box input, textarea{
        width: 84vw;
    }

    .row{
         flex-direction: column;
    }

    .post-img{
        height: auto;
    }
}